<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Gps position:</strong>
  <%= @project.gps_position %>
</p>

<p>
  <strong>Target group:</strong>
  <%= @project.target_group %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @project.rating %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
